# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large or unnecessary files
*.npy
*.npz
*.pkl
*.h5

# Ignore Streamlit temp files
.streamlit/

# Ignore OS files
.DS_Store
Thumbs.db

# If using Colab
drive/MyDrive/

# VS Code settings (if applicable)
.vscode/
